<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buspasssystem">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".activities.MyPassesActivity"/>
        <activity android:name=".activities.RoutesActivity"/>
        <activity android:name=".activities.DepositActivity"/>
        <activity android:name=".activities.DashboardActivity"/>
        <activity android:name=".activities.RegisterActivity"/>
        <activity android:name=".activities.LoginActivity"/>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
